*{
    font-family: monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
body{
    /* background-image: linear-gradient(to bottom ,aqua, white,aqua,white); */
}
.nameQuery{
    cursor: help;
    text-decoration: none;
    color: black;
    
}
header{

    display:flex;
}
.navBar{
    position: absolute;
    right: 0;
}
.navLinks{
    display: flex;
}
.navLinks li{
    list-style: none;
    margin: 1rem auto;
}
.navLinks li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: large;
    color:black;
    background-color: aqua;
    cursor: progress;
  
    padding:1rem 2rem;
}
.navLinks li a:hover{
    background-color: black;
    color: white;
}
.hero{
    width: 100vw;
    height: 80vh;
    
}
.greetings{
    display: flex;
}
.greetings #userName{
    text-transform: capitalize;
}
.hero .heroText .intro { 
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
}
.intro p{
    font-size: 2rem;
}
.intro .text{
    width:50%;
    margin: 4rem auto;

}
.container{
    border: 2px solid black;
}

.moreInfo{
    display: flex;
}
.title{
    flex-direction: row;
    
}
.projects img{
    width: 600px;
    height:600px;
}
.heading{
    text-decoration: underline;
    text-transform: uppercase;
}
.projects .project{
    display: flex;
}
.project{
    margin: 2rem auto;
}
.mySkills ul{
    position: relative;
    left: 40rem;
    display: flex;
}
.mySkills ul li{
    list-style: none;
}
.mySkills img{
    width: 80px;
    height: 80px;
}
.mySkills ul  a{
    text-decoration: none;
}

.timeline{
    margin-left: 10rem;
}
.timeline .timeline__blub{
    cursor: pointer;
}
.timelineSplit{
    display: flex;
}
.imgDisplay{
    height:400px;
    width: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}
