*{
    font-family: monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{

    display:flex;
}
.navBar{
    position: absolute;
    right: 0;
}
.navLinks{
    display: flex;
}
.navLinks li{
    list-style: none;
    margin: 1rem auto;
}
.navLinks li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: large;
    color:black;
    background-color: aqua;
    cursor: progress;
  
    padding:1rem 2rem;
}
.navLinks li a:hover{
    background-color: black;
    color: white;
}
.hero{
    width: 100vw;
    height: 100vh;
    
}
.greetings{
    display: flex;
}
.greetings #userName{
    text-transform: capitalize;
}
.hero .heroText .intro { 
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.container{
    border: 2px solid black;
}
.detals{
    display: flex;
    flex-direction: column;
}

.detals p{
    padding: 0;
    margin: 2px;
}
.moreInfo{
    display: flex;
}
.title{
    flex-direction: row;
    
}
